###In this 
-Check the dataframe

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\thaku\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\thaku\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [2]:
import pyspark

In [3]:
import pandas as pd

In [6]:
df = pd.read_csv("test1.csv")

In [7]:
df

      name  age
0   ganesh   22
1      ram   34
2  krishna   35
3     shiv   65

In [8]:
type(df)

pandas.core.frame.DataFrame

By spark

In [9]:
from pyspark.sql import SparkSession

In [10]:
spark = SparkSession.builder.appName('practice').getOrCreate()

In [11]:
spark

In [12]:
df_spark = spark.read.csv("test1.csv")

In [13]:
df_spark

DataFrame[_c0: string, _c1: string]

In [14]:
df_spark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   name|age|
| ganesh| 22|
|    ram| 34|
|krishna| 35|
|   shiv| 65|
+-------+---+

In [16]:
df_spark = spark.read.option('header','true').csv("test1.csv")

In [17]:
df_spark.show()

+-------+---+
|   name|age|
+-------+---+
| ganesh| 22|
|    ram| 34|
|krishna| 35|
|   shiv| 65|
+-------+---+

In [18]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_spark.head()

Row(name='ganesh', age='22')

In [20]:
df_spark.head(4)

[Row(name='ganesh', age='22'),
 Row(name='ram', age='34'),
 Row(name='krishna', age='35'),
 Row(name='shiv', age='65')]

In [21]:
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

Great