####In this-
--Pyspark DataFrame
--Reading the Dataset
--Checking the Datatypes of the column(Schema)
--Selecting Columns and Indexing
--Check Describes option similar to Pandas
--Adding Columns
--Dropping Columns
--Renaming columns

In [3]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [4]:
spark

In [14]:
##read the dataset
df_spark=spark.read.option('header','true').csv('test2.csv',inferSchema=True)

In [15]:
##check the schema
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [16]:
#another way
df_spark=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [17]:
df_spark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Manan| 22|         3|
|  Shiv| 32|        10|
|Krishn| 19|         1|
|   Ram| 24|         5|
|  Sham| 22|         3|
+------+---+----------+

In [18]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [19]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [21]:
#selectings columns and indexing
df_spark.head(3)

[Row(Name='Manan', Age=22, Experience=3),
 Row(Name='Shiv', Age=32, Experience=10),
 Row(Name='Krishn', Age=19, Experience=1)]

In [22]:
df_spark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Manan| 22|         3|
|  Shiv| 32|        10|
|Krishn| 19|         1|
|   Ram| 24|         5|
|  Sham| 22|         3|
+------+---+----------+

In [24]:
type(df_spark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [25]:
df_spark.select('name').show()

+------+
|  name|
+------+
| Manan|
|  Shiv|
|Krishn|
|   Ram|
|  Sham|
+------+

In [29]:
df_spark.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
| Manan|         3|
|  Shiv|        10|
|Krishn|         1|
|   Ram|         5|
|  Sham|         3|
+------+----------+

In [30]:
df_spark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [31]:
##Check Describes option similar to Pandas
df_spark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [32]:
df_spark.describe().show()

+-------+------+-----------------+-----------------+
|summary|  Name|              Age|       Experience|
+-------+------+-----------------+-----------------+
|  count|     5|                5|                5|
|   mean|  null|             23.8|              4.4|
| stddev|  null|4.919349550499537|3.435112807463534|
|    min|Krishn|               19|                1|
|    max|  Shiv|               32|               10|
+-------+------+-----------------+-----------------+

In [33]:
### Adding Columns in Dataframes
df_spark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Manan| 22|         3|
|  Shiv| 32|        10|
|Krishn| 19|         1|
|   Ram| 24|         5|
|  Sham| 22|         3|
+------+---+----------+

In [38]:
df_spark = df_spark.withColumn('Exp. After 2 Year',df_spark['Experience']+2)

In [39]:
df_spark.show()

+------+---+----------+-----------------+
|  Name|Age|Experience|Exp. After 2 Year|
+------+---+----------+-----------------+
| Manan| 22|         3|                5|
|  Shiv| 32|        10|               12|
|Krishn| 19|         1|                3|
|   Ram| 24|         5|                7|
|  Sham| 22|         3|                5|
+------+---+----------+-----------------+

In [40]:
##Dropping Columns in dataframes
df_spark = df_spark.drop('Exp. After 2 Year')

In [41]:
df_spark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Manan| 22|         3|
|  Shiv| 32|        10|
|Krishn| 19|         1|
|   Ram| 24|         5|
|  Sham| 22|         3|
+------+---+----------+

In [42]:
##Rename the columns
df_spark = df_spark.withColumnRenamed('Name','Emplyee name')

In [43]:
df_spark.show()

+------------+---+----------+
|Emplyee name|Age|Experience|
+------------+---+----------+
|       Manan| 22|         3|
|        Shiv| 32|        10|
|      Krishn| 19|         1|
|         Ram| 24|         5|
|        Sham| 22|         3|
+------------+---+----------+

Great