###  Pyspark Dataframes
- Filter Operation
- &,|,==
- ~

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Operation').getOrCreate()

In [14]:
spark

In [5]:
df_spark = spark.read.csv('test5.csv',header=True,inferSchema=True)

In [6]:
df_spark.show()

+-------+---+---+------+
|   Name|Age|Exp|Salary|
+-------+---+---+------+
|   Shiv| 40| 20|250000|
| Shakti| 30|  8| 70000|
| Krishn| 35| 17|200000|
|Shambhu| 38| 18|210000|
|    Ram| 37| 15|180000|
|   Sham| 27|  9| 80000|
|   Dham| 24|  4| 50000|
+-------+---+---+------+

### Filter Operation

In [7]:
### Experience of people less than or equal to 15
df_spark.filter("Exp<=15").show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|Shakti| 30|  8| 70000|
|   Ram| 37| 15|180000|
|  Sham| 27|  9| 80000|
|  Dham| 24|  4| 50000|
+------+---+---+------+

In [8]:
## Experience of people more than or equal to 15
df_spark.filter("Exp>=15").show()

+-------+---+---+------+
|   Name|Age|Exp|Salary|
+-------+---+---+------+
|   Shiv| 40| 20|250000|
| Krishn| 35| 17|200000|
|Shambhu| 38| 18|210000|
|    Ram| 37| 15|180000|
+-------+---+---+------+

In [9]:
df_spark.filter(df_spark['Exp']>=15).show()

+-------+---+---+------+
|   Name|Age|Exp|Salary|
+-------+---+---+------+
|   Shiv| 40| 20|250000|
| Krishn| 35| 17|200000|
|Shambhu| 38| 18|210000|
|    Ram| 37| 15|180000|
+-------+---+---+------+

In [10]:
df_spark.filter(df_spark['Exp']>=15).select(['Name','Salary']).show()

+-------+------+
|   Name|Salary|
+-------+------+
|   Shiv|250000|
| Krishn|200000|
|Shambhu|210000|
|    Ram|180000|
+-------+------+

In [12]:
df_spark.filter((df_spark['Exp']<=20) & 
               (df_spark['Exp']>15)).show()

+-------+---+---+------+
|   Name|Age|Exp|Salary|
+-------+---+---+------+
|   Shiv| 40| 20|250000|
| Krishn| 35| 17|200000|
|Shambhu| 38| 18|210000|
+-------+---+---+------+

In [13]:
df_spark.filter((df_spark['Exp']<=20) |
               (df_spark['Exp']>15)).show()

+-------+---+---+------+
|   Name|Age|Exp|Salary|
+-------+---+---+------+
|   Shiv| 40| 20|250000|
| Shakti| 30|  8| 70000|
| Krishn| 35| 17|200000|
|Shambhu| 38| 18|210000|
|    Ram| 37| 15|180000|
|   Sham| 27|  9| 80000|
|   Dham| 24|  4| 50000|
+-------+---+---+------+

In [16]:
df_spark.filter(~(df_spark['Exp']>=15)).show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|Shakti| 30|  8| 70000|
|  Sham| 27|  9| 80000|
|  Dham| 24|  4| 50000|
+------+---+---+------+

### Great