In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('pract').getOrCreate()

In [3]:
spark

In [4]:
df_spark = spark.read.csv('test6.csv',header=True,inferSchema=True)

In [5]:
df_spark.show()

+--------+------------+------+
|    Name|  Department|Salary|
+--------+------------+------+
|  Avnish|    Big Data|  4000|
|     Ram|Data Science|  5000|
|    Sham|         IOT|  6000|
|  Avnish|Data Science|  5000|
|  Avnish|         IOT|  7000|
|     Ram|    Big Data|  6000|
|   Sunny|         IOT|  7000|
|    Sham|Data Science| 10000|
|Sudanshu|    Big Data|  7000|
+--------+------------+------+

In [6]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

### Groupby

In [9]:
df_spark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      20000|
|    Big Data|      17000|
|Data Science|      20000|
+------------+-----------+

In [10]:
df_spark.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|    Sham|      16000|
|     Ram|      11000|
|   Sunny|       7000|
|Sudanshu|       7000|
|  Avnish|      16000|
+--------+-----------+

In [22]:
df_spark.groupBy('Name').max().show()

+--------+-----------+
|    Name|max(Salary)|
+--------+-----------+
|    Sham|      10000|
|     Ram|       6000|
|   Sunny|       7000|
|Sudanshu|       7000|
|  Avnish|       7000|
+--------+-----------+

In [23]:
df_spark.groupBy('Name').min().show()

+--------+-----------+
|    Name|min(Salary)|
+--------+-----------+
|    Sham|       6000|
|     Ram|       5000|
|   Sunny|       7000|
|Sudanshu|       7000|
|  Avnish|       4000|
+--------+-----------+

In [15]:
df_spark.groupBy(['Name']).sum().show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|    Sham|      16000|
|     Ram|      11000|
|   Sunny|       7000|
|Sudanshu|       7000|
|  Avnish|      16000|
+--------+-----------+

In [17]:
df_spark.groupBy('Department').mean().show()

+------------+-----------------+
|  Department|      avg(Salary)|
+------------+-----------------+
|         IOT|6666.666666666667|
|    Big Data|5666.666666666667|
|Data Science|6666.666666666667|
+------------+-----------------+

In [20]:
df_spark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    3|
|Data Science|    3|
+------------+-----+

### aggregate

In [21]:
df_spark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      57000|
+-----------+

### Great